header{
    font-size: 25px;
    font-family: Courier New;
    text-align: center;
}

p {
    font-family: Courier new;
    font-weight: bold;
}

ul{
    list-style-type:square;
}

header, ul, p{
    display:block;
    font-family: courier new;
}

.cuerpo{
    width: 100%;
   
}

.eminem{
    width: 100%;
}

table, th, tr, td{
    width: 50%;
    border-collapse: collapse;
    border: 1px solid white;
    color:white;
    font-family: courier new;
}

th, tr, td{
    padding: 15px;
}

.relapse{
    width: 80%;
    padding: 0px;
    position: relative;
    top: -500;
    right: -500;
    float: right;
}

.img{
    padding: 0px;
    height: 270;
}

body{
    background: url(https://docs.google.com/uc?export=&id=1ryVLuv2WbvCOD8qdJIG_mO1KPIXLDaxf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
    font-family: courier new;
}

font{
    color: white;

}

th{
   background-color: #1e272e;
}

.ventas{
    background-color: white;
    color: black;
    text-align: center;
}
